<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="toolbar-custom">
  <mat-toolbar-row>
   <span>Sin complicaciones</span>
 </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav class="sidenav-custom">
    <ul>
      <li>Configuración</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <i (click)="sidenav.toggle()" class="material-icons">menu</i>
  </mat-sidenav-content>
</mat-sidenav-container>
