<mat-sidenav-container class="sidenav-container mat-typography" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav class="sidenav-custom">
    <ul>
      <li>
        <a routerLink="/shippings/add" routerLinkActive="active">Nuevo envío</a>
      </li>
      <li>
        <a routerLink="/shippings" routerLinkActive="active">Lista de envíos</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar-custom">
      <mat-toolbar-row>
        <i (click)="sidenav.toggle()" class="fa fa-bars" aria-hidden="true"></i>
        <h1>{{ title }}</h1>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
